
// .add-location-button {
//   background-color: #007bff;
//   color: #fff;
//   border: none;
//   border-radius: 5px;
//   padding: 10px 20px;
//   font-size: 1rem;
//   cursor: pointer;
//   transition: background-color 0.2s;

//   &:hover {
//     background-color: #0056b3;
//   }
// }

.locations-search {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px;

  .search-icon {
    margin-left: 5px;
    font-size: 1.2rem;
    color: #888;
  }

  input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    font-size: 1rem;
  }
}


.location-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #007bff;
    transition: color 0.2s;
    margin-left: 10px;

    &:hover {
      color: #0056b3;
    }
  }
}

.locations-container {
  display: flex;
  flex-direction: column;
}

.locations-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locations-content {
  display: flex;
  flex-direction: column;
}

.location-groups {
  display: flex;
  flex-direction: column;
}

.locations-list {
  display: flex;
  flex-direction: column;
}

.location-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.location-name {
  font-weight: bold;
}
