.vehicles-search {
  /* Existing styles */

  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    display: block; /* Display as block on smaller screens */
    margin-bottom: 10px; /* Add some margin at the bottom */
  }

  input {
    /* Existing styles */

    @media (max-width: 768px) {
      /* Adjust styles for smaller screens */
      width: 100%; /* Take full width on smaller screens */
    }
  }
}

.vehicle-actions {
  /* Existing styles */

  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    margin-top: 10px; /* Add margin at the top */
  }
}



.vehicles-search {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;

    input {
      border: none;
      outline: none;
      flex-grow: 1;
      padding: 5px;
      font-size: 1rem;
    }
  }

  .search-icon {
    margin-right: 5px;
    font-size: 1.2rem;
    color: #888;
  }

  .vehicle-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      color: #007bff;
      transition: color 0.2s;
      margin-left: 10px;

      &:hover {
        color: #0056b3;
      }
    }
  }

  .vehicles-container {
    display: flex;
    flex-direction: column;
  }

  .vehicles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .vehicle-info {
    flex-grow: 1;
  }

  .vehicle-details {
    color: gray;
  }

  .vehicle-name {
    font-weight: bold;
  }

  .form-group {
    margin: 5px;
  }


.vehicle-item {
  display: flex;
  width: 100%;
  margin-bottom: 10px; /* Add some margin between items */
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .vehicle-item {
    flex-direction: column; /* Change to a column layout */
  }
}


