
<div class="app-container"  *ngIf="this.tokenService.getToken() && (this.isAuthorized$ | async)">
  <div class="list">
    <p-menubar class="fit-menu-bar">
      <ng-template pTemplate="start">
        <div>MAP OVERVIEW</div>
      </ng-template>
      <ng-template pTemplate="end">
        <i class="pi pi-bars"></i>
      </ng-template>
    </p-menubar>

    <p-tabView>
      <p-tabPanel header="VEHICLES">
        <app-vehicles></app-vehicles>
      </p-tabPanel>
      <p-tabPanel header="LOCATIONS">
        <app-locations></app-locations>
      </p-tabPanel>
      <p-tabPanel header="TRACK">
        <app-history></app-history>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div style="flex-grow: 1; margin:12px"><app-map></app-map></div>
</div>

